@model IEnumerable<MVC_SANCHEZ.Models.Detail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products_IdProducts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoices_IdInvoices)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Products_IdProducts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invoices_IdInvoices)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTotal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDetails">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDetails">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDetails">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
